
<body>
    <table border="1">
        <tr id="opphand">
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
        </tr>
        <tr id="oppbackrow">
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
        </tr>
        <tr id="oppfrontrow">
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
        </tr>
        <tr id="playerfrontrow">
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
        </tr>
        <tr id="playerbackrow">
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
        </tr>
        <tr id="playerhand">
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
            <th class="col-md-1">1</th>
        </tr>
    </table>
</body>
